{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<div class="container question-show">
    <h2 class="text-center my-3">Questions récentes</h2>
    <div class="row g-3">

        {% for question in questions %}
        {% include "_partials/_question_card.html.twig" with {comments: true}%}
        {% endfor %}
    </div>
</div>
{% endblock %}
